#page1 {
    background: white;
    padding-top: 150px;
}

#hire-container{
    height: 150px;
    width: 100%;
}

#hire-motive {
    height: 100px;
    max-height: 100px;
}

#contact-form-section {
    height: 150px;
}

#contact-form {
    width: 100%;
    min-width: 800px;
}

.form-cotizar {
    width: 33%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.form-cotizar p {
    font-size: 35px;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black;
    font-weight: 1;
}

.form-control {
    text-align: center;
    margin-bottom: 10px;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    text-align: center;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    background: green;
    padding: 7px 13px;
    border-radius: 2px;
}

.cotizar-submit {
    margin-top: 15px;
    font-family: Montserrat;
}

.cotizar-msg {
    margin-top: 25px;
    font-family: Raleway;
    color: white;
    color: #E3E3E3;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 13px;
    display: none;
}

.blue-content {
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -moz-linear-gradient(#003E7E,#002B5F);
    background: -o-linear-gradient(#003E7E,#002B5F);
    background: -ms-linear-gradient(#003E7E,#002B5F);
    background: linear-gradient(#003E7E,#002B5F);

}

.content, .content2, .content3{
    text-align: center;
    position: relative;
    width: 100%;
    height: 550px;
    padding-top: 40px; 
}

.content:after,.content2:after{
    display: block;
    position: absolute;
    content: '';
    z-index: 1;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 37px 50px 0 50px;
    border-color: white transparent transparent transparent;
    left: 50%;
    margin-left: -50px;
    top: 0;
}

.content2:after{
    border-color: #002f5c transparent transparent transparent;
}

.separador-top{ 
    margin-top: 10px;
    margin-bottom: 10px;
    height: 170px; 
} 

.separador-bot { 
    height: 170px; 

} 

.cotizar-content {
    margin-top: 30px;
}

.white {
    background-color: white;
}


.unselected {
    background-color: white;
    color: #003E7E ;
}

.selected {
    background-color: #003E7E ;
    color: white;
}

/* SEGUROS */

#seguros-section {
    height: 150px;
}

#seguros {
    height: 550px;
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -moz-linear-gradient(#003E7E,#002B5F);
    background: -o-linear-gradient(#003E7E,#002B5F);
    background: -ms-linear-gradient(#003E7E,#002B5F);
    background: linear-gradient(#003E7E,#002B5F);


    min-width: 1240px;
}

.section-title-container {
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.section-title {
    font-family: Montserrat;
    letter-spacing: 2px;
    margin-top: 18px;
    font-size: 15px;
}

.left-nav {
    border-right: 1px solid white !important;
    height: 100%;
}

.sublinks {
    height: 450px;
    overflow: hidden;
}

.section-sublinks {
    height: 100%;
}

.sublink-container {
    color: white;
}

#personas-sublinks .sublink-container {
    height: 30%;
}

.sublink-container .col-md-8 {
    height: 100%
}

#empresas-sublinks .sublink-container{
    height: 14.2%;
}

.empresas-sublink .sublink-text {
    font-family: Montserrat;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 8px;
}

.sublink-text {
    font-family: Montserrat;
    letter-spacing: 4px;
}

.bordered {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/* Links de la barra lateral */

/* PERSONAS*/
#automotores {
    margin-top: 60px;
}

#combinado-familiar {
    margin-top: 40px;
}

#accidentes-personales {
    margin-top: 50px;
}

/* EMPRESAS*/

#flota {
    margin-top: 25px;
}

#art {
    margin-top: 20px;
}

#indu-agro {
    margin-top: 13px;
}

#int-comercio {
    margin-top: 12px;
}

#int-consorcio {
    margin-top: 13px;
}

#caucion-garantias {
    margin-top: 19px;
}

#transporte {
    margin-top: 18px;
}

/*===============================================*/

#titulocreemos{
    color: #002f5c;
    padding-top: 0px;
    font-family: Raleway;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 5px;
}

hr{
    height: 1px;
    background-color: #002f5c;
    width: 73%;
    margin-top: 20px;
}

#textocreemos{
    font-size: 17px;
    width: 75%;
    margin: 0 auto;
    line-height: 30px;
    font-family: Montserrat;
}

#page6 {
    height: 370px;
    padding-top: 85px;
}

#texto_contacto, #texto_contacto0, #texto_contacto1 {
    padding-top: 40px;
    font-size: 17px;
    letter-spacing: 5px;
    color: white;
}

#titulocontacto{
    color: white;
    font-size: 35px;
    padding-top: 30px;
    line-height: 14px;
    font-family: Montserrat;
    margin-bottom: 10px;
}

#titulocontacto{
    margin-top: -45px;
}

#texto_contacto1, #texto_contacto0 {
    padding-top: 30px;
    font-family: Raleway, sans-serif;
}

#texto_contacto3 {
    line-height: 28px;
}

#face {
    margin-top: -10px;
}

#twi {
    margin-top: -15px;
}

#texto_contacto3 {
    padding-top: 40px;
    font-size: 17px;
    text-align: center;
}

                                                /* BUTTONS */
.buttons {
    position: relative;
    padding-bottom: 70px;
    min-width: 800px;
}

.buttons_container {
    padding-top: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, 0%); 
    -moz-transform: translate(-50%, 0%); 
    -o-transform: translate(-50%, 0%); 
    -ms-transform: translate(-50%, 0%); 
    transform: translate(-50%, 0%); 
}

.buttons_container ul {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.buttons_container ul li {
    display: block;
    padding: 10px 25px;
    width: 20%;
    float: left;
}

.buttons_container ul li p{
    font-family: Raleway, sans-serif;
    color: #003E7E;
    letter-spacing: 1px;
    font-size: 13px;
}

.buttons_img {
    width: 50%;
    height: auto;
}


                                            /* QUIÉNES SOMOS */


.who-are-we {
    width: 100%;
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -moz-linear-gradient(#003E7E,#002B5F);
    background: -o-linear-gradient(#003E7E,#002B5F);
    background: -ms-linear-gradient(#003E7E,#002B5F);
    background: linear-gradient(#003E7E,#002B5F);

    padding: 35px;
    margin-top: 100px;
}

.white-stripes {
    width: 70%;
    height: 120px;
    margin: 0 auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.white-stripes h1 {
    padding: 20px;
    color: white;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0px black;
}

.p-our-beliefs h3{
    text-align: center;
    color: #003E7E;
    font-family: Montserrat;
    font-size: 23px;
    letter-spacing: 9px;
    margin-top: 60px;
    margin-left: 10px;
    padding-bottom: 13px;
    line-height: 35px;
}

.security-line {
    width: 85%;
    height: 20px;
    border-top: 1px solid #003E7E;
    margin: 0 auto;
    margin-top: -8px;
}

.p-our-beliefs p{
    width: 87%;
    text-align: center;
    color: #003E7E;
    font-family: Raleway;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.p-our-beliefs p span {
    line-height: 40px;
    font-weight: 700;
}

                                                /* SUCURSALES */

.sucursales {
    width: 100%;
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -moz-linear-gradient(#003E7E,#002B5F);
    background: -o-linear-gradient(#003E7E,#002B5F);
    background: -ms-linear-gradient(#003E7E,#002B5F);
    background: linear-gradient(#003E7E,#002B5F);
    padding: 15px;
    margin-top: 15px;
}

.sucursales hr {
    width: 70%;
    border: none;
    border-bottom: 1px solid white;
}

.sucursales h1 {
    padding: 20px;
    padding-top: 25px;
    color: white;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0px black;
}

                                                /* BLUE IMAGES */

.blue-images {
    margin: 0;
    width: 100%;
    min-width: 800px;
    height: 310px;
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -moz-linear-gradient(#003E7E,#002B5F);
    background: -o-linear-gradient(#003E7E,#002B5F);
    background: -ms-linear-gradient(#003E7E,#002B5F);
    background: linear-gradient(#003E7E,#002B5F);
    margin-top: 25px;
}

.sedes {
    min-width: 1240px;
}

.blu-images__container {
    cursor: pointer;
}

.blue-images__delviso {
    padding-top: 31px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
 }

.blue-images__delviso img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.blue-images__derqui {
    padding-top: 31px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
 }

.blue-images__derqui img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.blue-images__derqui h3 {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    color: white;
}

.blue-images__delviso h3 {
    text-align: center;
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    color: white;
}


                                                /* MAP */
.map {
    width: 100%;
    height: 350px;
}

#map_canvas_viso {
    margin-top: -350px;
}

.selected-sucursal {
    font-weight: 400 !important;
    text-decoration: underline;
}


                                                /* TEXTO SUCURSALES */

.text-sucursales h2{
    color: #003E7E;
    text-align: center;
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
    font-size: 23px;
    padding-top: 25px;
    line-height: 35px;
}

.text-sucursales hr {
    color: #003E7E;
    width: 70%;
    border: none;
    border-bottom: 1px solid #003E7E;
}

.text-sucursales p {
    color: #003E7E;
    text-align: center;
    font-family: Raleway, sans-serif;
    line-height: 25px;
    letter-spacing: 1px;
    width: 900px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
}



                                            /* CONTACTO */

#contact {
    margin-top: -10px;
    position: relative;
    height: 210px;
    width: 100%;
    min-width: 800px;
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -moz-linear-gradient(#003E7E,#002B5F);
    background: -o-linear-gradient(#003E7E,#002B5F);
    background: -ms-linear-gradient(#003E7E,#002B5F);
    background: linear-gradient(#003E7E,#002B5F);
}

/*#contact h3 {
    margin: 0;
    text-align: center;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    text-shadow: 2px 1px 0px black;
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 30px;

}*/

.contact-container {
    margin-top: -13px;
}

.contact-phone, .contact-mail, .contact-address {
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 31px 0px 0px 0px;
    line-height: 2;
}


.contact-icon-container {
    margin-top: -24px; 
    float: right;
    position: absolute;
    color: white;
    text-align: center;
    left: 36%;
}

.contact-icons {
    margin-top: 43px;
    font-size: 20px;
    left: 30%;
}

.ion-flag {
    margin-top: 45px;
}

.ion-android-call {
    margin-top: 58px;
}

.ion-email {
    margin-top: 30px;
}

@media screen and (max-width:1062px) {

    .contact-icon-container {
        left: 33%;
    }
}

@media screen and (max-width:861px) {

    .contact-icon-container {
        left: 30%;
    }
}


                                            /* FOOTER */

footer {
    width: 100%;
    height: 80px;
    background: #001D46;
    overflow: hidden;
    min-width: 800px;
}

.footer-rights {
    margin-top: 2px;
    width: 500px;
}

.footer-rights p {
    width: 300px;
    color: rgba(255,255,255,0.5);
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    margin-left: 50px;
    padding-top: 3px;
    margin-top: 7px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

.footer-nav {
    float: right;
    margin-top: -26px;
    margin-right: 30px;
}

footer ul li{
    display: inline;
    color: rgba(255,255,255,0.5);
    font-family: Raleway, sans-serif;
    font-weight: lighter;
    padding-right: 20px;
    font-size: 12px;
}

                                            /* PIE DE PÁGINA */
#pie-pagina {
    width: 100%;
    min-width: 800px;
    height: 110px;
    background: rgb(233,237,239);
}

.pie-img-container {
    min-width: 50%;
}

.pie-ssn  {
    width: 50%;
    min-width: 300px;
    margin-top: 35px;
    margin-right: 40px;
    float: right;
}

.pie-data-fiscal {
    padding-left: 10%;
}

.data-fiscal-img {
    width: 50px;
    margin-top: 20px;
    margin-left: 12%;
}






                                            /* SUCURSALES */

.wrapper {
    position: relative;
    padding: 0;
    width:100px;
    display:block;
}

.text {
    border-radius: 50%;
    position: absolute;
    top: 0;
    color: #002B5F;
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    background-color:rgba(255,255,255,0.8);
    width: 200px;
    height: 200px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.text:hover {
    opacity:1;
}

.sucur-img {
    z-index:1;
}

.address-title{
    padding-top: 45px;
}

                                            /* SELECT SEGUROS */

.select {
    min-width: 790px;

}
.select h1 {
    color: #003E7E; 
    font-size: 37px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 15px;
    text-align: center;
}

.select-subtitle {
    text-align: center;
    color: black;
    font-family: Raleway, sans-serif;
    font-size: 12px;
}

.select-seguros {
    min-width: 1500px;
    overflow: hidden;
    width: 75%;
    min-width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    height: 100px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -moz-linear-gradient(#003E7E,#002B5F);
    background: -o-linear-gradient(#003E7E,#002B5F);
    background: -ms-linear-gradient(#003E7E,#002B5F);
    background: linear-gradient(#003E7E,#002B5F);
    padding-left: 25px;
}

.select-car {
    position: relative;
    top: 37px;
    left: 3px;
    width: 30px;
    height: 24px;
    margin-right: 10px;
    opacity: 0.9;
}

.select-car:hover {
    opacity: 1;
}

.select-seguros ul {
    list-style: none;
    margin-top: 30px;
}

.select-seguros ul li{
    display: inline-block;
    position: relative;
    margin-right: 30px;
    margin-left: 15px;
}

.div-selects {
    width: 120px;
    padding-bottom: 15px;
    padding: 10px;
}

.select-year__special {
    padding: 15px;
    margin: 15px;
}

.select-cotizar {
    margin-left: 25px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    background: green;
    padding: 7px 13px;
    border-radius: 2px;
}

/*@media screen and (max-width:1184px) {
    .div-selects {
        width: 80px;
        padding-bottom: 15px;
        padding: 10px;
    }

    .select-seguros ul li{
        margin-right: 10px;
    }
}*/

@media screen and (max-width:1343px){

    .select-seguros ul li {
        margin-right: 10px;
        margin-left: 10px;
    }

    .select-cotizar {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1142px) {

    .select-seguros {
        height: 140px;
        padding-left: 0px;
    }

    .select-car {
        margin-left: 20px;
    }

    .select-cotizar {
        margin: 20px 30px;
    }

}

@media screen and (max-width: 914px) {
    .select-seguros ul li {
        margin: 0px 20px;
    }
}

.select-cotizar:hover {
    cursor: pointer;
    background: rgba(0,141,58,1);
    box-shadow: 1px 1px 1px black;
    text-shadow: 1px 1px black;
}

.select-cotizar:active {
    cursor: pointer;
    background: rgba(0,141,58,1);
    box-shadow: none;
    text-shadow: none;
}

                                            /* SELECT STYLES */

.select-inputs {
    width: 130px;
    font-size: 13px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 33px;
    color: #003E7E;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
}

.year-input {
    width: 130px;
    font-size: 13px;
    line-height: 2;
    height: 33px;
    text-align: center;
    color: #003E7E;
    border-radius: 4px;
    border: none;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;

}

                                            /* TOP BLUE BAR */

.top-blue {
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -webkit-linear-gradient(#003E7E,#002B5F);
    background: -moz-linear-gradient(#003E7E,#002B5F);
    background: -o-linear-gradient(#003E7E,#002B5F);
    background: -ms-linear-gradient(#003E7E,#002B5F);
    background: linear-gradient(#003E7E,#002B5F);
    width: 100%;
    height: 30px;
    overflow: hidden;
    min-width: 700px;
}

.info-sensgroup{
    margin: 0 auto;
    padding-top: 6px;
    padding-left: 70px;
    font-family: Montserrat;
    color: white;
    letter-spacing: 3px;
    font-size: 13px;
}

.phone-number-top {
    float: right;
    margin-right: 35px;
    margin-top: -17px;
    font-family: Montserrat;
    color: white;
    letter-spacing: 3px;
    font-size: 13px;
    position: relative;
    bottom: 2px;
}

.phone-number {
    font-family: Montserrat;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    position: relative;
    bottom: 2px;
}

#phone_list {
    float: right;
    margin-right: 15px;
    font-size: 22px;
    color: white;
    margin-top: -19px;
}

#mail_list {
    font-size: 18px;
    color: white;
    margin-top: -18px;
    padding-right: 10px;
}

.ion-android-mail {
    position: relative;
    bottom: 4px;
}

.ion-ios7-telephone {
    position: relative;
    bottom: 6px;
}