.info-container {
    display: none;
}

.info-container img {
	margin-top: 90px;
	margin-bottom: 10px;
	width: 100px;
	height: 100px;
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%, 0%); 
	-moz-transform: translate(-50%, 0%); 
	-o-transform: translate(-50%, 0%); 
	-ms-transform: translate(-50%, 0%); 
	transform: translate(-50%, 0%); 
}

.info-container h1 {
	font-family: Montserrat, sans-serif;
	font-weight: lighter;
	color: white;
	text-align: center;
	font-size: 40px;
	letter-spacing: 5px;
	margin: 0;
	margin-top: 10px;
}

.info-container p {
	margin: 0;
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
	width: 583px;
	position: relative;
	left: 50%;
	color: white;
	font-family: Raleway, sans-serif;
	font-weight: lighter;
	letter-spacing: 1px;
	line-height: 22px;
	-webkit-transform: translate(-50%, 0%); 
	-moz-transform: translate(-50%, 0%); 
	-o-transform: translate(-50%, 0%); 
	-ms-transform: translate(-50%, 0%); 
	transform: translate(-50%, 0%);
}

#caucion-garantias-info ul {
	text-align: center;
	color: white;
	font-size: 12px;
	font-family: Raleway, sans-serif;
	padding: 0;
	padding-top: 20px;
	letter-spacing: 1px;
	line-height: 2;
}