ul {
	list-style: none;
}
                                                        /* MOODAL GENERAL */
.modal-dialog {
    width: 77%;
}

.modal-content {
	background: -webkit-linear-gradient(#003E7E,#002B5F);
}

.modal-body {
    margin-top: 30px;
}

.modal-footer {
    margin-top: 30px;
}


														/* TOP */

.form-top img{
	margin: 30px;
	width: 200px;
	height: 46px;
}

.form-top p {
	position: relative;
	right: 50px;
	top: 43px;
	font-family: Montserrat, sans-serif;
	color: white;
	font-size: 20px;
	letter-spacing: 1px;
	float: right;
}

														/* DATA */
.form-line {
	border-top: 1px solid white;
}

.section {
    margin-bottom: 20px;
}

.section-title-modal {
    font-family: Montserrat;
    letter-spacing: 2px;
    font-size: 15px;
    color: white;

}

.sub-section {
    margin-bottom: 5px;
}
.modal-labels {
	text-align: left;
	color: white;
	margin-right: 50px;
	padding-top: 2px;
	font-family: Raleway, sans-serif;
	letter-spacing: 4px;
	font-weight: lighter;
	font-size: 12px;
}

.modal-inputs {
    width: 100%;
}
														/* SUBMIT BUTTON */

.modal-enviar-datos {
	border: 1px solid white;
	font-family: Montserrat;
	text-align: center;
	letter-spacing: 3px;
	color: white;
	background: green;
	padding: 7px 13px;
}

.modal-enviar-datos:hover {
	cursor: pointer;
	background: rgba(0,141,58,1);
	box-shadow: 2px 2px 2px black;
	text-shadow: 1px 1px black;
}

.modal-enviar-datos:active {
	cursor: pointer;
	background: rgba(0,141,58,1);
	box-shadow: none;
	text-shadow: none;
}

.synyster-msg {
    font-family: Raleway;
    color: white;
    color: #E3E3E3;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 13px;
    display: none;
}






